{% extends 'base.html.twig' %}

{% block title %}New Suggestion{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Suggestion</h1>
        </div>
    </div>
    <h1>Create new Suggestion</h1>

    {{ include('suggestion/_form.html.twig') }}

    <a href="{{ path('suggestion_index') }}">back to list</a>
{% endblock %}
